{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Log In to your account!</h3>
    <form method="post" action="/Login" class="mb-2 ">
        {% csrf_token %}
        <div class="form-group px-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group px-4">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <div class="form-group px-4 py-2">
            <label for="pin">Pin</label>
            <input type="password" class="form-control" id="pin" name="pin" placeholder="Enter Your unique pin" Required>
        </div>

        <button type="submit" class="btn btn-primary px-4" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Log In</button>
    </form>
{% endblock body %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Log In to your account!</h3>
    <form method="post" action="/Login" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <div class="form-group">
            <label for="pin">Password</label>
            <input type="password" class="form-control" id="pin" name="pin" placeholder="Enter Your unique pin" Required>
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</body>
</html> {% endcomment %}